*.pdf
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
/background/*
/cocaSharedFiles/*
/function_tests/*
/literature/*
/meetings/*
/misc/*
/Reports/*
/manuscripts/*
/Rlib/*
/data_raw/*
/data/ParametersLit.xlsx
/data/data_raw/trawlSurvey/GMRI_cod_haddock_yt_1970-2016station_catch_length.xls
/data/data_raw/trawlSurvey/GMRI_cod_haddock_yt_1970-2016individual_fish_data.xls
/data/data_raw/trawlSurvey/SVDBS Elements by Table and Column.docx
/data/data_raw/gbBuoyData/*
/assessment/caa.dll
/assessment/caa.o
/assessment/caa.so
/results/*
/*.o
/*.dll
/processes/mproc_all.txt
/documentation/20180612 COCA NE multspecies MSE problem framing_ml.docx
/documentation/COCA MSE problem framing.docx
/documentation/COCA_methods_description.docx
/documentation/documentation
/documentation/ManagementProcedureFlow.pptx
/documentation/recruitment.docx
/documentation/*.html
/documentation/*.url
/documentation/.ipynb_checkpoints/
/documentation/old/*
