*.Rproj.user
*.Rhistory
*.RData
*.Rds
*.Ruserdata
/background/*
/manuscripts/*
/cocaSharedFiles/*
/function_tests/*
/literature/*
/meetings/*
/misc/*
/Reports/*
/Rlib/*
*.gz
*.xls
*xlsx
*.dll
*.o
*.out
*.so
/results*
*.pptx
*.docx
.Rproj.user
/documentation/old*
/documentation/.ipynb_checkpoints
*.url
*.pdf
*.tex
*.html
*.out
*.DAT
*.xx*
documentation/stockRecruit/cod/recruitmentCOD_old.Rmd
*.*~
*.dta
*.xx*
*.zip
data/data_raw/recruitment/compileRecData.R
data/data_raw/recruitment/codHadPolYTFCompiled.csv
data/data_raw/recruitment/YTF_S_R.csv
data/data_raw/recruitment/SAW55SR_codGB.csv
data/data_raw/recruitment/POL_S_R.csv
data/data_raw/recruitment/HAD_S_R.csv
data/data_raw/recruitment/2017_POK_UNIT_MOD_BaseASAPOutput.rep

assessment/ASAP/*
!*ASAP3Tags.DAT
admb2r.log
admodel.cov
admodel.dep
admodel.hes
admodel.tmp
asap3.bsn
asap3input.log
cmpdiff.tmp
eigv.rpt
fmin.log
gradfil1.tmp
gradfil2.tmp
variance
varssave.tmp